<article class="col-xs-6">
  <h1 class="squidtitle2">
    Satan offers the deal of a lifetime
  </h1>
  <img class="img-circle"><%= image_tag("mephistopheles.jpg")%></img>
  <h5 class="text-left">
    Mephistopheles
  </h5>

  <%@posts.each do |post|%>
    <h3><%=post.title%></h3>
    <%end%>

</article>
<aside class="col-xs-4">
  <img class="img-circle"><%= image_tag("mephistopheles.jpg")%></img>
  <h5 class="text-center">
    Mephistopheles
  </h5>
  <div class="socialblock">
    <ul class="list-inline text-center">
      <li>Twitter</li>
      <li>Facebook</li>
      <li>Instagram</li>
    </ul>
  </div>
  <figure class="figure1">
    <img class="img-responsive"><%= image_tag("satan_sings.jpeg")%></img>
    <figcaption class="text-right">About This Ad</figcaption>
  </figure>
  <div class="squidsidebar">
    <h4><strong>I'm gonna own you all, just like I own this little b!%@$ here!</strong></h4>
    <p class="lorem2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
</aside>
